services:
    app:
        extends:
            file: docker-compose.yml
            service: app
        build:
            context: ..
            dockerfile: docker/Dockerfile
            target: build-development
        tty: true
        ports:
            - 8000:8000
        volumes:
            - ../src:/app
